
::selection{
    background: transparent;
}
::-moz-selection{
    background: transparent;
}
body{
    background: blueviolet;
}
.add-student{
    display: grid;
    background: antiquewhite;
    position: absolute;
    left: 5vw;
    top: 5vh;
    width: 90vw;
    height: 90vh;
    grid-template-rows: 16% 79%;
    grid-row-gap: 5%;
    align-content: center;
}
.add-student__header{
    position: relative;
    width: 100%;
    background: darkorange;
    text-align: center;
    font-size: 3vmin;
}
.add-student__content{
    position: relative;
    display: grid;
    font-size: 4vmin;
    caret-color: transparent;
    align-content: center;
    grid-template-areas:
    "a b"
    "c d"
    "e f"
    "g h"
    "i j"
    "k l";
    grid-row-gap: 7%;
    grid-column-gap: 5%;
    justify-content: center;
    background: lightgreen;
    width: 100%;
}
#surnameSpace{
    width: 25vw;
}
#nameSpace{
    width: 25vw;
}
#patronymicSpace{
    width: 25vw;
}
#studyingDirSpace{
    width: 25vw;
}
#durationStudyingSpace{
    width: 25vw;
}

.buttons{
    grid-area: l;
    display: flex;
    justify-self: end;
    width: 17vw;
    justify-content: space-between;
}
button{
    width: 8vw;
    height: 6vh;
    background: lightseagreen;
    border-radius: 1000px;
    font-weight: 400;
    font-size: 2vmin;
}