
::selection{
    background: transparent;
}
::-moz-selection{
    background: transparent;
}
body{
    background: coral;
}
.container{
    display: grid;
    background: antiquewhite;
    position: absolute;
    left: 5vw;
    top: 5vh;
    width: 90vw;
    height: 90vh;
    grid-template-rows: 16% 79%;
    grid-row-gap: 5%;
    align-content: center;
    /*justify-content: center;*/
}
.header{
    position: relative;
    width: 100%;
    background: darkorange;
    text-align: center;
    font-size: 3vmin;
}
.main{
    position: relative;
    display: grid;
    font-size: 4vmin;
    caret-color: transparent;
    align-content: center;
    grid-template-areas:
    "a b"
    "c d"
    "e f"
    "g h";
    grid-row-gap: 7%;
    grid-column-gap: 5%;
    justify-content: center;
    background: lightgreen;
    width: 100%;
}
#loginSpace{
    width: 25vw;
}
#loginSpace::placeholder{
    color: #212529;
    opacity: 0.4;
}
#passwordSpace{
    width: 25vw;
}
#confirmPasswordSpace{
    width: 25vw;
}
#confirmPasswordSpace::placeholder{
    color: #212529;
    opacity: 0.4;
}
.buttons{
    grid-area: h;
    display: flex;
    justify-self: end;
    width: 17vw;
    justify-content: space-between;
}
button{
    width: 8vw;
    height: 6vh;
    background: lightseagreen;
    border-radius: 1000px;
    font-weight: 400;
    font-size: 2vmin;
}