
::selection{
    background: transparent;
}
::-moz-selection{
    background: transparent;
}
body{
    background: blueviolet;
}
.sign-up-page{
    display: grid;
    background: antiquewhite;
    position: absolute;
    left: 5vw;
    top: 5vh;
    width: 90vw;
    height: 90vh;
    grid-template-rows: 16% 79%;
    grid-row-gap: 5%;
    align-content: center;
}
.sign-up-page__header{
    position: relative;
    width: 100%;
    background: darkorange;
    text-align: center;
    font-size: 3vmin;
}
.sign-up-page__content{
    position: relative;
    display: grid;
    font-size: 4vmin;
    caret-color: transparent;
    align-content: center;
    grid-template-areas:
    "a b"
    "c d"
    "e f"
    "g h";
    grid-row-gap: 7%;
    grid-column-gap: 5%;
    justify-content: center;
    background: lightgreen;
    width: 100%;
}
#loginSpace{
    width: 25vw;
    font-size: 16px;
}
#loginSpace::placeholder{
    color: #212529;
    opacity: 0.4;
}
#passwordSpace{
    width: 25vw;
    font-size: 16px;
}
#confirmPasswordSpace{
    width: 25vw;
    font-size: 16px;
}
#confirmPasswordSpace::placeholder{
    color: #212529;
    opacity: 0.4;
}
.buttons{
    grid-area: h;
    display: flex;
    justify-self: end;
    width: 17vw;
    justify-content: space-between;
}
button{
    width: 8vw;
    height: 6vh;
    background: lightseagreen;
    border-radius: 1000px;
    font-weight: 400;
    font-size: 2vmin;
}
.alert-password {
    position: absolute;
    display: none;
    bottom: 7vh;
    left: 35vw;
    padding: 20px;
    background-color: red;
    color: white;
    margin-bottom: 15px;
    border-radius: 1000px;
}
.close-alert {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    transition: 0.5s;
}
.close-alert:hover {
    color: black;
}